header {
  background-image: linear-gradient(
    to right top,
    #464870,
    #414696,
    #3d41bb,
    #3f37de,
    #4f1eff
  );
  color: white;
  padding-inline: 1rem;
}

.headerContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav ul {
  display: flex;
  gap: 1rem;
}
.nav ul li {
  list-style: none;
}

a {
  color: white;
}

.main a {
  color: black;
}
